<!-- Midde Bar -->
<div class="middleBar navbar yamm navbar-default">
    <div class="container">
        <div class="row display-table">
            <div class="col-sm-2 vertical-align text-left hidden-xs">
                <a href="javascript:void(0);">
                    <img src="<%= image_path('img/logo.png') %>" alt="logo">
                </a>
            </div><!-- end col -->
            <div class="col-sm-8 vertical-align text-center">
                <form class="form-inline" action="listing-sidebar-map-left.html" method="">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Find</div>
                            <input type="text" class="form-control input-lg" id="findItem" placeholder="What are you looking for?">
                            <div class="input-group-addon addon-right"><i class="fa fa-th-list" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Near</div>
                            <input type="text" class="form-control input-lg" id="nearLocation" placeholder="Location">
                            <div class="input-group-addon addon-right"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-default btn-lg">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div><!-- end col -->
            <div class="col-sm-2 vertical-align header-items hidden-xs">
                <div class="header-item mr-5">
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Wishlist">
                        <i class="fa fa-heart-o"></i>
                        <sub>32</sub>
                    </a>
                </div>
                <div class="header-item">
                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Compare">
                        <i class="fa fa-refresh"></i>
                        <sub>2</sub>
                    </a>
                </div>
            </div><!-- end col -->
        </div><!-- end  row -->
    </div><!-- end container -->
</div><!-- end middleBar -->
